@media only screen and (max-width: 992px) {

    body {
        width: 100%;
    }



    .main-list {
        font-size: 31px;
        margin-top: 30px;
        margin-right: 70px;
    }

    .main-title-item {
        margin-bottom: 40px;
    }

    .main-header-item {
        display: none;
    }



    .btn {
        font-size: 31px;
        line-height: 62px;
        width: 230px;
        height: 66px;
    }

    .shooping-country {
        display: inline;
    }

    .title-popular {
        position: relative;
        left: 300px;
        bottom: 260px;
    }

    .main-title-list {
        margin-bottom: 120px;
        width: 448px;
        font-size: 45px;
    }

    .btn {
        font-size: 50px;
        line-height: 62px;
        width: 100%;
        background-position-y: center;
        height: 110px;
        background-size: 42px;
    }


    .title {
        font-size: 70px;
        line-height: 52px;
        color: #5094f2;
        width: 700px;
        text-align: left;
        margin-bottom: 20px;
    }

    .title-list {
        width: 700px;
        height: 71px;
        font-size: 45px;
        color: #909090;
        text-align: start;
    }

    .shooping-icon {
        width: 225px;
        height: 225px;
    }

    .shooping-list {
        height: 240px;

    }

    .shooping-cart-container {
        display: block;
        box-sizing: border-box;
    }

    .cart-content {
        margin: 0 auto;
        font-size: 17px;
        width: auto;
    }

    .cart-icon {
        position: relative;
        left: 270px;
    }

    .left {
        font-size: 34px;
    }

    .num {
        font-size: 74px;
    }

    .main-footer {
        height: auto;
        border-top: 1px solid black;
    }

    .footer {
        font-size: 30px;
    }

    /* << meny navigation style>> */
    .main-header-item2 {
        position: relative;
        z-index: auto;
        display: block;
        list-style-type: none;
        float: right;
        background-color: #fff;
    }

    .bars {
        position: relative;
        bottom: 95px;
        float: right;
        width: 60px;
        height: 40px;
        cursor: pointer;
        background-color: #5094f2;
        padding: 15px;
        border-radius: 5px;
    }

    .main-header-list {
        padding-left: 10px;
        transition: 0.2s all;
    }


    . .main-header-list:hover {
        padding-left: 10px;

    }

    .sum {}
}